{% extends 'base.html' %}

{% block title %}
    Create Person
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-center mb-4 text-light">Adicionar Pessoa</h3>
    <form method="POST" class="w-25 mx-auto text-light"> <!-- Adicionando a classe w-50 para definir a largura do formulário -->
        {% csrf_token %}
        {{ person_form.as_p }}
        {{ phone_form.as_p }}
        {{ mobile_form.as_p }}
        <button type="submit" class="btn btn-info btn-block">Criar</button>
        <a href="{% url 'index' %}" class="btn btn-warning btn-block">Voltar</a>
    </form>
</div>
{% endblock %}
